@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif;
}

body {
  background-color: #c8ece0;
  color: black;
}

.wrapper {
  width: 85%;
  margin: auto;
  padding: 30px;
  background-color: transparent;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.marinade-logo {
  width: 250px;
  height: 40px;
}

.footer {
  margin-top: 40px;
  text-align: center;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipside-logo {
  width: 250px;
  height: 60px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

.single {
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  margin-bottom: 20px;
}

.single-topper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.chart-area {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.double {
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin-bottom: 20px;
}

.small-chart-area {
  min-height: 150px;
  width: 42%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
}

.table-title {
  text-align: center;
  font-weight: lighter;
  color: #666666;
  margin: 20px 0px;
}

.table-main {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  box-shadow: 0 0 20px #00000026;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.table-main thead tr {
  background-color: #308d89;
  color: #ffffff;
  border-left: 2px solid #308d89;
  border-right: 2px solid #308d89;
}

.table-main th,
td {
  padding: 12px 15px;
}

.table-main tbody tr {
  border-bottom: 1px solid #00000026;
  border-left: 2px solid #308d89;
  border-right: 2px solid #308d89;
}

.table-main tbody tr:hover {
  background-color: #c8ece0;
}

.table-main tbody tr:last-of-type {
  border-bottom: 2px solid #308d89;
}

.validator-voters {
  text-align: center;
}

.validator-shares {
  text-align: center;
}

th.first-column {
  text-align: start;
}

.conc {
  text-align: start;
}

.table-wrapper {
  position: relative;
}

.table-scroll {
  max-height: 700px;
  overflow: auto;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .header-bigtxt {
    display: none;
  }
  .double {
    margin: auto;
    display: block;
    background-color: transparent;
    margin-bottom: 20px;
  }
  .small-chart-area {
    min-width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .footer-bigtxt {
    display: none;
  }
}

.footnote {
  font-size: smaller;
}
